:root {
  --purple-200: #e9d5ff;
  --purple-600: #9333ea;
  --purple-950: #3b0764;
  --white: #fff;
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --zinc-950: #09090b;
}


/* Header */
header {
  background-color: var(--purple-200);
  position: relative;
}

header .container, .menu ul  {
  display: flex;
  align-items: center;
}

.logo h2, .menu ul li a {
  color: var(--zinc-700);
}

.menu {
  transition: all 0.05s;
}

.menu ul li a {
  transition: 0.5s;
}

.menu:hover ul li a {
  opacity: 0.5;
}

.menu ul li a:hover {
  opacity: 1;
}

.mode {
  position: absolute;
}

/* MAIN */
main {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Home */
.home  {
  display: flex;
  align-items: center;
  max-width: 100%;
}



.title h1 {
  color: var(--zinc-800);
}

.title span {
  color: var(--zinc-600);
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: center;
  background-color: var(--purple-200);
  color: var(--zinc-800);
}

footer p a {
  color: var(--zinc-900);
}

/* Book Form */
.book-form {
  flex-direction: column;
  border: 1px solid var(--zinc-500);
  justify-content: center;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1),
  0 2px 2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1),
  inset 0 0 0 1px rgba(255, 255, 255, 0.03),
  inset 0 1px 0 rgba(255, 255, 255, 0.03);
}

.book-form label {
  color: var(--zinc-700);
}

.book-form input {
  outline: none;
  background-color: transparent;
  border: 1px solid var(--zinc-600);
}

.book-form input, .book-form input::placeholder {
  color: var(--zinc-600);
}

.book-form .addBook {
  background-color: var(--purple-200);
  color: var(--purple-950);
  transition: all 0.3s ease;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.book-form .addBook:hover {
  transform: scale(1.1);
  background-color: var(--purple-950);
  color: var(--purple-200);
}

/* Medias queries */
@media (width < 48rem) {
  header {
    margin-bottom: 2rem;
  }
  
  header .container {
    flex-direction: column;
    justify-content: center;
    padding: 1.2rem 0;
    gap: 1.2rem;
  }
  
  .logo h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .menu ul {
    gap: 3rem;
  }

  .menu ul li a {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .mode {
    right: 1rem;
  }

  main {
    justify-content: center;
    max-width: 60rem;
  }

  .home {
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  .home .title {
    text-align: center;
  }
  
  .home .title h1 {
    font-size: 2rem;
    line-height: 2.25rem;
    margin-bottom: 0.2rem;
  }
  
  .home .title span {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .home .image-home, .home .image-home img {
    width: 30rem;
    max-width: 100%;
  }

  .footer p {
    padding: 0.5rem 0;
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .book-form {
    padding: 1.25rem 2rem;
    border-radius: 0.5rem;
    width: 90%;
    margin-bottom: 4rem;
  }
  
  .book-form label {
    margin: 1rem 0 0.3rem 0;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .book-form input {
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
  }

  .book-form input, .book-form input::placeholder {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .addBook {
    margin-top: 2rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }

}

@media (width >= 48rem) and (width < 64rem) {
  header {
    margin-bottom: 2rem;
  }

  header .container {
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 0;
  }

  .logo h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .menu ul {
    gap: 3rem;
  }

  .menu ul li a {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .mode {
    right: 2rem;
    top: 4rem;
  }

  main {
    justify-content: center;
    max-width: 62.5rem;
  }
  
  .home {
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
  }

  .title {
    text-align: center;
  }

  .title h1 {
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 0.2rem;
  }

  .title span {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .image-home, .image-home img {
    width: 40rem;
  }

  footer p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 1rem 0;
  }
}

@media (width >= 64rem) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 75rem;
    padding: 2rem 0;
  }

  .logo h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .menu ul {
    gap: 4rem;
  }

  .menu ul li a {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .mode {
    position: static;
  }

  main {
    justify-content: center;
  }
  
  
  .home {
    display: flex;
    gap: 15rem;
    justify-content: space-between;
  }

  .title h1 {
    font-size: 3rem;
    line-height: 1;
  }

  .title span {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .image-home {
    width: 536px;
    max-width: 1200px;
  }

  footer p {
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 1.2rem 0;
  }
} 